@import "./main.css";

.game_wrapper{
    border-radius: 1rem;
    display: grid;
    background-color: var(--background-color);
    justify-content: center;
    width: 100%;
}

.game_lives ul li{
    list-style: none;
}

.game_lives img{
    width: 100%;   
}

.plantTile{
    display: block;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-size: 1.75rem;
    box-shadow: none;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin: 5%;
    padding-top: 15%;
}

#score{
    font-size: calc(40pt + 0.5rem);
    text-align: center;
}

.game_lives {
    display: flex;
    flex-direction: column;
}

.game_score ul li{
    list-style: none;
}

.plantTile.selected{
    box-shadow: 0 0 20px 5px var(--primary-color);
}


.plantTile.selectable:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 5px var(--shadow-color);
}

.plantTile.selectedCorrect{
    box-shadow: none;
}

.plantTile5 .plantTile6 .plantTile7 .plantTile8 .plantTile9{
    display: none;
}



.play-button {
    border: none;
    font-size: 2.8rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 10rem;
    min-width: 10rem;
    border-radius: 0.2rem;
}
.play-button:hover{
    background-color: var(--secondary-color);
    cursor:pointer;
    color: var(--primary-color)
}
.play-button:active{
    background-color: var(--primary-color);
    cursor:pointer;
    color: var(--background-color)
}




/* LOADING SCREEN */
#game-end-screen{
    display: none;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    width: 90vw;
    background: var(--background-color);
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px #000000;
}
#game-end-screen.display{
    display:block;
}

#lives-list{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}


@media (max-width: 900px){
    .plantTile{
        text-align: center;
        font-size: 1rem;
    }

    #lives-list{
        display: flex;
    }

    #lives-list img{
        width: 13vw;
    }
    
    #score-list{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #score{
        padding-left: 5vw;
    }
    
    .game_lives {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .game_score {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}