@import "./main.css";

/* GAME GRID  */
.game_wrapper{
    border-radius: 1rem;
    display: grid;
    background-color: var(--background-color);
    justify-content: center;
    width: 100%;
}
.game_lives ul li{
    list-style: none;
}
.plantTile{
    display: block;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    font-size: 1.75rem;
    box-shadow: none;
    text-align: center;
    margin: 5%;
    padding-top: 5%;
}
#score{
    font-size: calc(40pt + 0.5rem);
    text-align: center;
}
.game_score ul li{
    list-style: none;
}
.plantTile.selected{
    box-shadow: 0 0 20px 5px var(--primary-color);
}
.plantTile.selectable:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 5px var(--shadow-color);
}
.plantTile.selectedCorrect{
    box-shadow: none;
}
.plantTile5 .plantTile6 .plantTile7 .plantTile8 .plantTile9{
    display: none;
}

.plantTile5{
    background-color: transparent;
}

#lives-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#lives-list li{
    text-align: center;
}
#lives-list li img{
    width: 80%;    
    height: 100%;
}

#game-end-screen{
    display: none;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    width: 90vw;
    background: var(--background-color);
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px #000000;
    text-align: center;
}
#game-end-screen.display{
    display:block;
}

/* GAME START SCREEN */
#game-start-screen{
    display: none;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    width: 90vw;
    background: var(--background-color);
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px #000000;
    text-align: center;
}
#game-start-screen.display{
    display:block;
}

#game-start-screen h1{
    font-family: var(--accent-font);
    font-size: 4rem;
}
#game-start-screen p{
    font-size: 2rem;
    padding: 0 10% 0 10%;
}
#game-start-screen button{
    margin-top: 5%;
}

@media (max-width: 900px){
    .plantTile{
        text-align: center;
        font-size: 1rem;
    }
    #score-list{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    #score{
        padding-left: 5vw;
    }    
    .game_lives{
        display: flex;
        align-items: center;
    }
    #lives-list{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    #lives-list li{
        width: fit-content;
        max-width: 15vw;
    }
    #lives-list li:nth-child(1){
        width: fit-content;
        max-width: 30vw;
    }
    #lives-list li img{
        width: 60%;    
        height: 100%;
    }
    .game_score {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}