@import url('https://fonts.googleapis.com/css?family=Tangerine');
:root{
    --primary-color: #4C8538;
    --dark-primary-color: #3c6a2c;
    --secondary-color: #D0F6B8;
    --shadow-color: #aaa;
    --font-color: #000000;
    --background-color: #FFFFFF;
    --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --accent-font: 'Tangerine', serif;
    --background-color-transparent: rgba(255, 255, 255, 0.75);
}

[dark-mode="dark"]{
    --primary-color: #badfa5;
    --dark-primary-color: #9bbe84;
    --secondary-color: #4C8538;
    --shadow-color: #575757;
    --font-color: #FFFFFF;
    --background-color: #000000;    
    --background-color-transparent: rgba(0, 0, 0, 0.75);
}
html,

body {
    display: flex;
    flex-direction: column;
    position:fixed;
    align-items:center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    font-family: var(--main-font);
    color: var(--font-color);
    overflow-wrap: break-word;
}
img.background {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    z-index: -2;
    filter: blur(5px);
}

a:hover{
    cursor: pointer;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    top: 0;
    background-color: var(--background-color);
    width: 100%;
    box-shadow: 0 0 40px 5px #000000;
    z-index: 10;
}

header .menu-toggle{
    color: var(--primary-color);
    float: right;
    height: 3rem;
    padding: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    display: none;
}

header figure{
    height: 4rem;
    display: flex;
    float: left;
    margin: 0;
}

header figure a img{
    display: none;
    height: 90%;
    padding: 10%;
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px var(--shadow-color));
}

header figure h1{
    color: var(--primary-color);
    font-weight: bold;
    font-family: var(--accent-font);
    font-size: calc(20px + 0.6vw);
    text-shadow: 3px 3px 3px var(--shadow-color);
    text-decoration: none;
    letter-spacing: 0.25rem;
    transform: scale(1, 1.5);
    flex: none;
    padding-left: 1rem;
    margin: auto;
}

header figure h1 a{
    text-decoration: none;
    color: var(--primary-color);
}

header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a, header nav ul li a:visited{
    padding: 1rem;
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    font-size: 2rem;
}
header nav ul li a:hover,
header nav ul li a.active{
    font-weight: bold;
    background-color: var(--secondary-color);
}

main{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px var(--shadow-color);
    overflow-y: auto;
    overflow-x: hidden;
}

/* LOADING SCREEN */
#loading-screen{
    display: none;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    width: 90vw;
    background: var(--background-color-transparent);
    position: absolute;
    z-index: 5;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px #000000;
}
#loading-screen.display{
    display:flex;
    align-self: center;
}

#loading-screen img{
    width: 20%;
    display: flex;
    align-self: center;
    margin: auto;
    animation: spin 1s infinite linear;
}

button {
    border-radius: 0.5rem;
    border-width: 0;
    background-color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    width: fit-content;
    height:fit-content;
    padding: 2% 5% 2% 5%;
    vertical-align: middle;
    align-self: center;
    color: var(--background-color);
}

button:hover{
    background-color: var(--dark-primary-color);
}
  
button.disabled{
    background-color: var(--shadow-color);
    cursor: default;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



@media (max-width: 900px){
    header{
        box-shadow: none;
    }

    header h1{
        font-size: calc(20px + 0.6vw);
    }

    header nav{
        display: none;
        position: absolute;
        background-color: var(--background-color);
        top: 4rem;
    }

    header nav.active{
        right: 0;
        display: block;
    }
    header nav ul{
        display: block;
    }
    header nav ul li a{
        border-bottom: 1px solid var(--primary-color);
        border-top: 1px solid var(--primary-color);
        width: 100%;
        font-size: calc(20px + 0.6vw);
        text-align: left;
    }
    header .menu-toggle{
        display: flex;
        padding-right: 0.5rem;
        margin-right: 0;
        width: 9vw;
    }

    main{
        display: flex;
        box-shadow: 0 0 10px 1px #000000;
    }
}