@import "./main.css";

/* LIVES */
.game_lives{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 15%;
    padding-left: 3vw;
}

.game_lives img{
    width: 5rem;
}

.game_lives ul li{
    list-style: none;
}
.game_lives h1{
    padding-left: 3vw;
}


/* TILES */
.game_tiles{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
}
.tile{
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + 0.2em);
}
.tile:hover{
    box-shadow: 0 0 20px 5px var(--shadow-color);
}

.game_tiles .selected{
    box-shadow: 0 0 20px 5px var(--primary-color);
}

.game_tiles .selectable:hover{
    cursor: pointer;
}

.game_tiles .selectedCorrect{
    box-shadow: none;
}
/* .tile img{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle top;
} */


/*-----------------MODE 1-----------------*/
.mode1 .tile{
    background-color: var(--secondary-color);
    width: calc(7rem + 20vw);
    max-width: 18rem;
    height: calc(7rem + 20vw);
    max-height: 18rem;
    margin: 0.8rem;
    align-self: center;
}

/*-----------------MODE 2-----------------*/
.mode2{
    display: none;
}

.mode2 .tile{
    background-color: purple;
    width: 20vw;

}

/* SCORE */
.game_score{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: flex-end;
    width: 15%;
    padding-right: 5vw;
}

.game_score img{
    width: 5rem;
}

.game_score ul li{
    list-style: none;
}

#score{
    font-size: 10vh;
    color: var(--primary-color)
}






.play-button {
    border: none;
    font-size: 2.8rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 10rem;
    min-width: 10rem;
    border-radius: 0.2rem;
}
.play-button:hover{
    background-color: var(--secondary-color);
    cursor:pointer;
    color: var(--primary-color)
}
.play-button:active{
    background-color: var(--primary-color);
    cursor:pointer;
    color: var(--background-color)
}




/* LOADING SCREEN */
#game-end-screen{
    display: none;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    width: 90vw;
    background: var(--background-color);
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px #000000;
}
#game-end-screen.display{
    display:block;
}


