<!DOCTYPE html>
<html lang="en">
<!-- https://github.com/public-apis/public-apis -->
<head>
    <title>Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script type="module" src="../main.js"></script>
    <link rel="stylesheet" href="leaderboard.css">
</head>
    <body>
        <header>
            <figure>
                <a href="game.html"><img src="../static/plant-logo.png" alt="simple green fern logo with two fern leaves"></a>
                <h1><a href="game.html" id="bb-title">Botanical Buzzwords</a></h1>
            </figure>    
            <nav class="header-nav">
                <ul>
                    <li><a href="game.html">Play</a></li>
                    <li><a href="glossary.html">Glossary</a></li>
                    <li><a class="active" href="">Leaderboard</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </nav>
            <figure class="menu-toggle" >
                <img src="../static/hamburger-menu-dark.png" alt="hamburger menu icon for mobile nav view">
            </figure>
        </header>
        <img class="background" src="../static/fern-background.jpg" alt="furled ferns bright green with sun">

        <article>

            <table class="leaderboard">
                <caption> 
                    <ul class = "leaderboard-information">
                        <li>Your rank: 2</li>
                        <li>Username HERE</li>
                        <li>Score: 33</li>
                    </ul>
                </caption>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>High score</th>
                </tr>
                <tr>
                    <td>
                        1.
                    </td>
                    <td>
                        Username 1
                    </td>
                    <td>
                        45
                    </td>
                </tr>
            </table>
        </article>

    </body>
</html>