<!DOCTYPE html>
<html lang="en">
<!-- https://github.com/public-apis/public-apis -->
<head>
    <title>Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="leaderboard.css">
</head>
    <header class="header-navbar">
        <h1 class="header-h1">Botanical Buzzwords</h1>
        <button class="play-button" href="#">Play</button>
        <nav class="desktop-nav">
            <a class="nav-items" href="#">Home</a>
            <a class="nav-item-active" href="#">Leaderboard</a>
            <a class="nav-items" href="#">Profile</a>
        </nav>
    </header>
    <body>
        <img class="background" src="../static/fern-background.jpg" alt="furled ferns bright green with sun">


        <table class="leaderboard">
            <caption> 
                <ul class = "leaderboard-information">
                    <li>Your rank: 2</li>
                    <li>Username HERE</li>
                    <li>Score: 33</li>
                </ul>
            </caption>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>High score</th>
            </tr>
            <tr>
                <td>
                    1.
                </td>
                <td>
                    Username 1
                </td>
                <td>
                    45
                </td>
            </tr>
        </table>
    </body>
</html>