<!DOCTYPE html>
<html lang="en">
<!-- https://github.com/public-apis/public-apis -->
<head>
    <title>Leaderboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="dog_collar_icon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="main.css">
</head>
    <header class="header-navbar">
        <h1 class="header-h1">Botanical Buzzwords</h1>
        <button class="play-button" href="#">Play</button>
        <nav class="desktop-nav">
            <a class="nav-items" href="#">Home</a>
            <a class="nav-item-active" href="#">Leaderboard</a>
            <a class="nav-items" href="#">Profile</a>
        </nav>
    </header>
    <body>
        <img class="background" src="../static/fern-background.jpg" alt="furled ferns bright green with sun">

        <ol>
            <li>placeholder 1</li>
            <li>placeholder 2</li>
        </ol>
    </body>
    <!-- <footer>
        <a href="#">footer</a>
    </footer> -->
</html>