@import "./main.css";
html,

body {
    display: flex;
    flex-direction: column;
    position:fixed;
    align-items:center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

h1{
    font-size: 3rem;
}
form.login-signup{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    color: var(--main-dark-green);
    background-color: var(--background-white);
    padding: 2rem;
    border-radius: 1rem;
}
input.login-signup-input{
    margin-bottom: 1rem;
    background-color: var(--main-light-green);
    border: none;
    border-radius: 0.2rem;
    width: 20rem;
    font-size: 1.3rem;
    color: var(--main-light-green);
}
input::placeholder{
    color: var(--main-dark-green);
    opacity: 50%;
}

input.login-signup-input:focus {
    background-color: var(--background-white);
    outline-color: var(--main-dark-green);
    color: var(--main-dark-green);
}

button.login-signup-button {
    border: none;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--main-dark-green);
    color: var(--background-white);
    margin-bottom: 0.8rem;
    width: 100%;
    padding: 0.1rem;
    border-radius: 0.2rem;
}

img.login-signup-logo{
    max-height: 5rem;
}

footer {
    font-size: large;
    z-index: 3;
}
