<!DOCTYPE html>
<html lang="en">
<!-- https://github.com/public-apis/public-apis -->
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
</head>
    <body>
        <h1>Bobby Benjamin</h1>
        <section>
            <img src="../static/plant-logo.png" alt="furled fern white outline on green circle" width="200" height="200">
            <ul>
                <li>Birthday: 01.01.2001</li>
                <li>Country: South Africa</li>
                <li>High Score: 35</li>
            </ul>
        </section>
        <section>
            <h2>Favourite Plants</h1>

            <figure>
                <img src="../static/plant-logo.png" alt="furled fern white outline on green circle" width="200" height="200">
                <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
            </figure>

            <figure>
                <img src="../static/plant-logo.png" alt="furled fern white outline on green circle" width="200" height="200">
                <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
            </figure>

            <button>Add to my plants</button>

        </section>

        
    </body>
</html>
