<!DOCTYPE html>
<html lang="en">
<!-- https://github.com/public-apis/public-apis -->
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <script type="module" src="../main.js"></script>
    <script type="module" src="../profile.js"></script>

</head>
    <body>
        <header>
            <figure>
                <a href="game.html"><img src="../static/plant-logo.png" alt="simple green fern logo with two fern leaves"></a>
                <h1><a href="game.html" id="bb-title">Botanical Buzzwords</a></h1>
            </figure>    
            <nav class="header-nav">
                <ul>
                    <li><a href="game.html">Play</a></li>
                    <li><a href="glossary.html">Glossary</a></li>
                    <li><a href="leaderboard.html">Leaderboard</a></li>
                    <li><a class="active" href="profile.html">Profile</a></li>
                </ul>
            </nav>
            <figure class="menu-toggle" >
                <img src="../static/hamburger-menu-dark.png" alt="hamburger menu icon for mobile nav view">
            </figure>
        </header>
        <img class="background" src="../static/fern-background.jpg" alt="furled ferns bright green with sun">

        <article>
            <section class="profile-info">
                <img src="../static/plant-logo.png" alt="">
                <section>
                    <h2>Bobby Benjamin</h2>

                    <grid>
                        <row>
                          <cell>Birthday</cell>
                          <cell>01.01.1999</cell>
                        </row>
                        <row>
                          <cell>Country</cell>
                          <cell>South Africa</cell>
                        </row>
                        <row>
                          <cell>High Score</cell>
                          <cell>35</cell>
                        </row>
                      </grid>

                    <section class="dark-mode-switch">
                        <label for="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <div class="slider round"></div>
                        </label>
                      <em>Dark Mode</em>
                    </section>
        
                </section>

            </section>
            <section class="favourite-plants">
                <h2>Favourite Plants</h1>
                <section>
                    <figure>
                        <img src="../static/plant-logo.png" alt="">
                        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
                        <button>Remove from favourites</button>
                    </figure>
        
                    <figure>
                        <img src="../static/plant-logo.png" alt="">
                        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
                        <button>Remove from favourites</button>
                    </figure>

                    <figure>
                        <img src="../static/plant-logo.png" alt="">
                        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
                        <button>Remove from favourites</button>
                    </figure>
        
                </section>
                
    
            </section>


        </article>
        

        
    </body>
</html>
