@import "./main.css";

.game_wrapper{
    border-radius: 1rem;
    display: grid;
    gap: 2%;
    grid-template-columns: 17% 30% 30% 17%;
    grid-template-rows: 49% 49%;
    background-color: var(--background-color);
    justify-content: center;
}

.game_lives ul li{
    list-style: none;
}

.game_lives img{
    width: 100%;   
}

.plantTile{
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    width: 100%;
    height: 95%;
    font-size: calc(25pt + 0.5rem);
    box-shadow: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#score{
    font-size: calc(40pt + 0.5rem);
    text-align: center;
}

.game_lives {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / span 2;
}
.plantTile1 {
    grid-column: 2;
    grid-row: 1;
    margin-top: 5%;
}
.plantTile2 {
    grid-column: 3;
    grid-row: 1;
    margin-top: 5%;
}
.plantTile3 {
    grid-column: 2;
    grid-row: 2;
}
.plantTile4 {
    grid-column: 3;
    grid-row: 2;
}
.game_score {
    grid-column: 4;
    grid-row: 1 / span 2;
}

.game_score ul li{
    list-style: none;
}

.plantTile:hover{
    box-shadow: 0 0 20px 5px var(--shadow-color);
}

.plantTile.selected{
    box-shadow: 0 0 20px 5px var(--primary-color);
}


.plantTile.selectable:hover{
    cursor: pointer;
}

.plantTile.selectedCorrect{
    box-shadow: none;
}

/*-----------------MODE 1-----------------*/
.mode1 .plantTile{

}

/*-----------------MODE 2-----------------*/
.mode2{
    display: none;
}

.mode2 .plantTile{
}


.play-button {
    border: none;
    font-size: 2.8rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 10rem;
    min-width: 10rem;
    border-radius: 0.2rem;
}
.play-button:hover{
    background-color: var(--secondary-color);
    cursor:pointer;
    color: var(--primary-color)
}
.play-button:active{
    background-color: var(--primary-color);
    cursor:pointer;
    color: var(--background-color)
}




/* LOADING SCREEN */
#game-end-screen{
    display: none;
    max-width: calc(1000px + 10vw);
    height: 80vh;
    width: 90vw;
    background: var(--background-color);
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
    box-shadow: 0 0 40px 10px #000000;
}
#game-end-screen.display{
    display:block;
}



@media (max-width: 900px){

    .game_wrapper{
        display: grid;
        gap: 2%;
        grid-template-columns: 49% 49%;
        grid-template-rows: 17% 30% 30% 17%;
        background-color: var(--background-color);
        width: 100%;
    }

    .plantTile{
        text-align: center;
        width: 95%;
        height: 95%;
        font-size: calc(10pt + 0.5rem);
    }

    #lives-list{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #lives-list img{
        width: 13vw;
    }
    
    #score-list{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #score{
        padding-left: 5vw;
    }
    
    .game_lives {
        grid-column: 1 / span 2;
        grid-row: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .plantTile1 {
        grid-column: 1;
        grid-row: 2;
        margin-left: 5%;
    }
    .plantTile2 {
        grid-column: 2;
        grid-row: 2;
    }
    .plantTile3 {
        grid-column: 1;
        grid-row: 3;
        margin-left: 5%;
    }
    .plantTile4 {
        grid-column: 2;
        grid-row: 3;
    }
    .game_score {
        grid-column: 1 / span 2;
        grid-row: 4;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


}